@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/*Link For Above in google font -https://fonts.google.com/specimen/Barlow+Condensed?category=Sans+Serif&sort=popularity*/

/*in one html page there must be only one h1 tag*/


/* Common Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: 'Barlow Condensed', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding,50px);
    /*10px*/
}



/* End of Common Styles */
/*Front Page Style*/
/*Section-1 Style*/
.section-1 {
    width: 100%;
    /* background: linear-gradient(to left, hsl(0, 35%, 48%), hsl(0, 3%, 66%)), url('../images/FSD_BG2.jpg') center no-repeat; */
    background: url('../images/100-BG8.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    height: 65vh;
    /*Later we will change it to Padding*/

}

.navbar-wrapper {
   
    width: 100%;
    border-bottom: solid 0.1rem  hsl(0, 15%, 85%);
}

.navbar {
    width: 90%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto 0 auto;
}

.logo {
    width: 20%;
    height: auto;
}

.logo img {
    border-radius: 50%;
}

.logo-text {
    width: 50%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    color: hsl(240, 100%, 50%);

}

.nav-list {
    /* width:10%; */
}

.navbar-buttons {
    width: 28%;
    display: flex;
    flex-direction: row;
}

.navbar-buttons :nth-child(1) {
    background-color:transparent;
    color: hsl(0, 100%, 50%);

}

.navbar-buttons :nth-child(2) {
    background-color: transparent;
    color: hsl(0, 100%, 50%);
    margin: 0 0.4rem 0 0.2rem;

}

.navbar-button {
    width: 9rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    font-weight: 900;
    border: solid 0.2rem white;
    letter-spacing: 0.2rem;
    cursor: pointer;
   
    /* margin-right:0.4rem; */
}

.banner {
    width: 100%;
    top: 50%;
    position: absolute;
    text-align: center;
}

.p-certificate {
    /* text-align: left; */
    font-size: 2.5rem;
    font-weight: 700;
    color: hsl(240, 100%, 50%);
    letter-spacing: 0.2rem;
}

.banner-heading {
    font-size: 4.5rem;
    font-weight: 900;
    color: hsl(240, 100%, 50%);
    margin-bottom: 3rem;
    letter-spacing: 0.2rem;
}

.banner-paragraph {
    width: 70%;
    font-size: 2.3rem;
    font-weight: 700;
    color: hsl(240, 100%, 50%);
    margin: 0 auto 3.5rem auto;
    letter-spacing: 0.2rem;

}

.btn {
    width: 27rem;
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background-color: hsl(212, 87%, 50%);
    color: hsl(0, 0%, 100%);
    border-radius: 2rem;
    border: none;
    margin-right: 0.4rem;
    cursor: pointer;
}

.btn i {
    margin-left: 1rem;
}

.btn:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(212, 87%, 50%);
    border: 0.1rem solid hsl(212, 87%, 50%);
    /* transition: background-color 500ms; */
    /* transition:margin-left 500ms linear; */
    transition: all 500ms linear;
}

/*End of Section-1 Style*/

/*Section-2 style*/
.section-2
{
    width:100%;
    padding:7rem 0 7rem 0;

}
.section-2-heading{
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    margin-bottom: 7rem;
}
.services
{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services :nth-child(3) i{
    margin-right: 0.5rem;
}
.service{
    margin-bottom: 2rem;
    text-align: center;
}
.service i
{
    font-size: 5rem;
    font-weight: 400;
    color:blue;
    margin:4rem 0 2rem 0;
}
.service-heading
{
    font-size: 3.5rem;
    font-weight: 600;
    color:black;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}
.service-paragraph
{
    font-size: 3rem;
    font-weight: 600;
    color:black;
    margin-bottom: 2rem;
}
.service-button
{
    background-color: transparent;
    width: 20rem;
    padding: 1rem;
    border-radius: 2rem;
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    cursor: pointer;
    border: 0.1rem solid hsl(212, 87%, 50%);
}

/*End of Section-2 style*/
/*Section -3 Style*/
 .section-3
 {
    padding:7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right,rgb(90,77,253),rgb(72,179,251),rgb(57,163,251));
    color:white;
 }
 .section-3-heading
 {
    width: 100%;
    font-size:4rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 7rem;
 }
 .features
 {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .feature
 {
   
    margin-bottom:12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2rem solid white;
    border-radius: 1rem;
    padding: 1rem;
 }
 .feature-heading
 {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom:2rem;
 }
 .feature-fee
 {
    font-size:5rem;
    font-weight: 700;
    margin-bottom:2rem;

 }
 .feature-highlights-heading
 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: 0.4rem;
 }
 
 ul.feature-highlights li
 {
    list-style-type: disc;
 }
 .feature-highlights li{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
 }
 .feature-paragraph
 {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    
 }
 .feature-button
 {
   
    background-color: white;
    width: 20rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
    letter-spacing: 0.2rem;
    cursor: pointer;
    border: 0.1rem solid hsl(212, 87%, 50%);
 }

/*End of Section -3 style*/
/*Section -4 Style */
.section-4
{
    width: 100%;
    padding: 7rem 0;
}
.section-4-heading
{
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    margin-bottom: 7rem;
}
.instructors
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.instructor
{
    width: 70%;
    margin-bottom: 7rem;
    padding:5rem;
    background-color: hsl(230, 70%, 30%);
    
}
.instructor-image
{
    width: 15rem;
    height:15rem;
    border-radius: 50%;
    margin-bottom: 2rem;
   
}
.instructor-name
{
    font-size:3.5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
}
.instructor-profession
{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing:0.2rem;
    margin-bottom: 2rem;
}
.instructor-paragraph
{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;

}
.instructors .instructor1
{
    border-top-right-radius: 15%;
}
.instructors .instructor2
{
    border-bottom-right-radius: 15%;
}
.instructors .instructor3
{
    border-bottom-left-radius: 15%;
}

/*End of Section -4 Style*/
/*Section -5 style*/
.section-5{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-5-heading
{
    width:100%;
    text-align: center;
    font-size:4rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    margin-bottom: 7rem;
   
}
.contacts
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact
{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
  
}
.contact-heading
{
    
    font-size: 3.5rem;
    font-weight:600;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
   
}
ul.contact-list li
{

font-size: 3rem;
font-weight: 900;
margin-bottom: 1rem;
}
.contact-list li i{
    margin-right: 1rem;
}
.contact-map-section
{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
}
.contact-paragraph
{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.pitchus-input 
{
    width: 15rem;
    border: none;
    color: maroon;
    font-size: 3rem;
    font-weight: 700;
  
}
.pitchus-input::placeholder {
    color: maroon;
    opacity: 1;

    /*Firefox -Firefox adds a lower opacity to the placeholder, so we use opacity: 1 to fix this.*/
}
/*centering an input field’s placeholder text:*/

/*
Use ::-webkit-input-placeholder for Chrome, Opera, and Safari.
Use :-moz-placeholder for Firefox 18-.

*/
.pitchus-input::-webkit-input-placeholder {
    text-align: center;
  }
  
  .pitchus-input:-moz-placeholder {
    text-align: center;
  }





/*End of Section -5 Style*/


/*End Of Front Page Style*/

/*SignUp Page Style*/
.signup-page
{
    width: 100%;
    background: linear-gradient(to bottom,gray,white 18%);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    /* height: 100vh; */
}
.signup-page-top
{
    width: 80%;
    margin:0 auto 7rem auto;
    padding:2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   
   

}
.signup-page-top .logo{
    width: 28%;
  
}
.signup-page-top .logo img{
    width:30%;
    height: auto;
}
.signup-page-top .logo-text{
    color:white;
    width: 40%;

}

.signup-page-content
{
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0 3rem 0;
    
}
.content-left-images{
    margin-bottom: 7rem;
}
.content-left-images img {
    width:15%;
    height:auto;
    border-radius: 50%;
}
.signup-page-content-left h2{
    font-size: 4.5rem;
    font-weight: 900;
    text-align: center;

   
}
.signup-page-top .navbar-buttons{
    width: 8%;
    
}
.signup-page-top .navbar-buttons .navbar-button
{
    color: white;
}
.signup-page-content-right h3{
    font-size: 2.5rem;
    font-weight:600;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}
.signup-page-content-right h4{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
}
.signup-page-content-right button
{
    width: 100%;
}
.input-group{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.input-group input[type="radio"]
{
    margin-top: 0.3rem;
}
.input-group .option
{
    margin-left: 1rem;
}



.input-group p{
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}
.option h5{
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

/*End of SignUp Page*/
/*Footer section Style*/
.footer-nav-wrapper {
    width: 100%;
    border-bottom: solid 0.1rem hsl(0, 2%, 65%);
}

.footer-navbar {
    width: 95%;
    /* padding: 1rem; */ /*To keep all link in one line no need paddong, width 90% enough for mobile view*/
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: 0 auto 0 auto;
    display: flex; 
    flex-direction: column; 
    align-items: center;

}

.footer-navbar ul li {
    display: inline;
}

.nav-list-item {
    width: 4rem;
    padding: 0.3rem;
    /* border-radius: 1px solid hsl(0, 100%, 50%);
    transform: 0.1s; */

}

.nav-list-item-link {
    width: 100%;
    height: 100%;
    font-size: 2.3rem;
    font-weight: 900;
    color: black;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
}

.footer-copyright {
    width: 100%;
    padding: 0.9rem;
}

.copyright {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.nav-list-item i {
    font-size: 2.3rem;
    font-weight: 900;
    color: black;
    margin-right: 0.4rem;
}
.nav-list .nav-list-lang
{
    font-size: 2rem;
    font-weight: 900;
    color: black;
    margin-right: 0.4rem;
}

/*End of Footer Section Style*/

/*Moble Social icons Style*/
.mobile-social-icons
{
    width:24rem;
    position:fixed;
    top:67%;
    right:-19rem;
   
}

.mobile-social-icons ul li:nth-child(1) a
{
    background-color: #3B5998;
}
.mobile-social-icons ul li:nth-child(2) a
{
    background-color: #55ACEE;
}
.mobile-social-icons ul li:nth-child(3) a{
    background-color: #007bb5;
}
.mobile-social-icons ul li:nth-child(4) a{
    background-color: #bb0000;
}
.mobile-social-icons ul li:nth-child(5) a{
    background-color: #cb2027;
}

.mobile-social-icons ul li{
    
    height: 6rem;
    position: relative;
}
.mobile-social-icons ul li a{
    width: 100%;
    height: 100%; 
    color:white;
    padding:0.2rem 0 0.2rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1rem solid gray;
    transition:margin-left 500ms linear;

}
.mobile-social-icons ul li a i{
    font-size: 4rem;
    position: absolute;
}
.mobile-social-icons ul li a span{
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding-left:5rem;
    text-transform: uppercase;
    display: none;
   
}
.mobile-social-icons ul li a:hover{
    margin-left: -19rem;
}
.mobile-social-icons ul li:hover a span{
    display: block;
}

/*Log In Section Style*/

.login-page{
    width: 98%;
    height: 90vh;
    position: relative;
    /* border: 1px solid red; */
   

}
.login-page-content
{
    /* width:30%; */
    border: 0.1rem solid #d5cdcd;
    position:absolute;
    top:20%;
    left:30%;
    display: flex;
    flex-direction: column;
    padding:3rem;
}
.logo-section{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem auto;
    justify-content: center;
    
}
.login-logo{
    width:20%;
    padding: 1rem;
}

.login-logo img{
   width: 100%;
   height: auto;
   border-radius: 50%;
}
.login-logo-text{
    padding: 0.5rem;
    width: 58%;
    font-family: 'Courgette', cursive;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: hsl(240, 100%, 50%);
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input
{
    width: 40rem;
    padding: 1rem;
    margin: 1.2rem;
    border: 0.1rem solid #d5cdcd;
    border-radius: 1rem;
    
}
.login-form input[type="text"]
{
    color: black;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}
/* .force-opaque::placeholder {
    opacity: 1;
  } */
.forminput::placeholder{
    color: grey;
}
.forminput::-webkit-input-placeholder {
    color: grey;
  }
  
  .forminput:-moz-placeholder {
    color: grey;
  }
  .btnLogin{
    width: 40rem;
    /* padding: 1rem;
    margin: 1.2rem; */
    background-color: hsl(212, 87%, 50%);
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
  }
  .login-form a{
    margin: 1.2rem;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: hsl(212, 87%, 50%);;
  }
  .login-form span{
    position:relative;
    font-size: 2.5rem;
    font-weight: 500;
    color: black;
    letter-spacing: 0.2rem;
    /* border: 1px solid green; */
  }
  .login-form span::before{
    content: '';
    position: absolute;
    top: 55%;
    right: 3rem;
    /* left: -18rem; */
    width: 18rem;
    height: 0.1rem;
    background-color: hsl(0, 15%, 85%);
    /* transform: translate-x%; */
    /* transform: translateX(-100%); */
   
  }
  .login-form span::after{
    content: '';
    position: absolute;
    top: 55%;
    width: 18rem;
    height: 0.1rem;
    left: 3rem;
    background-color: hsl(0, 15%, 85%);
    
  }
  .signup-btn{
    width: 40rem;
    /* padding: 1rem;
    margin: 1.2rem; */
    background-color: hsl(212deg 93% 89%);
    color: gray;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
  }

/*Login section Style Ends*/
/*Mobile social icons style End*/

/*Responsive Style*/
/*Media Query Styles*/
/* @media (min-width: 768px) and (max-width: 992px) */
@media (min-width: 1101px) and  (max-width: 1600px)
{
    html{
        font-size: 50%;
    }
    .navbar{
        width: 95%;
    }
    .navbar .logo img{
        width: 30%;
    }
    .navbar-buttons :nth-child(2) {
        margin:0 0.4rem 0 1rem;

    }
    .navbar-button{
        padding:0.5rem;
        font-size: 2rem;
    }
    .section-1
    {
        height: 75vh;
    }
    .services{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .section-2-heading{
        width: 90%;
        margin: 0 auto 4rem 0;
    }
    .features{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .feature{
        width:45%;
    }
    .instructors{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .instructor{
        width: 30%;
    }
    .footer-navbar{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto 1rem auto;
    }
    .nav-list-item-link {
        font-size: 1.8rem;
    }
    .nav-list .nav-list-lang{
        font-size: 1.8rem;
    }
    .signup-page{
        background: linear-gradient(to bottom,gray,white 20%);
    }
    .signup-page-top
    {
       margin:0 auto 5rem auto;
    }
    .signup-page-content{
       
        display: flex;
        flex-direction: row;
        padding: 0%;
    }
    .signup-page-content-left{

        width: 48%;
        padding: 2rem 6rem 2rem 0;
        border-right: solid 0.1rem hsl(0, 2%, 65%);
        border-bottom: none;
    }
    .signup-page-content-right{
        width: 48%;
        padding: 2rem 0 2rem 6rem;
    }
    .content-left-images{
       
        display: flex;
        justify-content: space-between;
       
    }
    .content-left-images img
    {
       width: 25%;
    }
    .login-page-content{
        top: 20%;
        left: 40%;
    }
    .login-logo {
        width: 26%;
    }
    .login-logo-text{
        width: 54%;
        font-size: 3.5rem;
    }
    

}
@media (max-width:1100px)
{
    html{
       font-size:  43.75%; /*7px*/
    }
    .section-1
    {
        height: 75vh;
    }
    .navbar{
        width: 96%;
        padding: 2rem;
    }
    .services
    {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        flex-wrap: wrap;
        justify-content: space-evenly;
    
    }
    .service{
        width: 45%;
        margin: 0 2rem 3rem 2rem;
    }
    .service i{
        margin: 4rem 0 3rem 0;
    }
    .service-heading{
        margin-bottom: 3rem;
      }
    .service-paragraph{
        margin-bottom: 3rem;
    }
    .features
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .feature{
        width: 45%;
       
    }
    .instructors
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .instructor
    {
        width: 45%;
    }
    
    .nav-list
    {
        margin-bottom: 2rem;
    }
    .footer-navbar {
        width: 95%;
        /* padding: 1rem; */ /*To keep all link in one line no need paddong, width 90% enough for mobile view*/
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        margin: 0 auto 0 auto;
        display: flex; 
        flex-direction: column; 
        align-items: center;
    
    }
    
    .footer-navbar ul li {
        display: inline;
    }
    
    .nav-list-item {
        width: 4rem;
        padding: 0.3rem;
        /* border-radius: 1px solid hsl(0, 100%, 50%);
        transform: 0.1s; */
    
    }
    
    .nav-list-item-link {
        width: 100%;
        height: 100%;
        font-size: 2.3rem;
        font-weight: 900;
        color: black;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        text-align: center;
    }
    .signup-page-content {
        width: 80%;
        margin: 0 auto;
        padding: 3rem 0 3rem 0;
    }
  
    .content-left-images
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .signup-page-content-left
    {
        margin-bottom: 7rem;
        border-bottom: solid 0.1rem hsl(0, 2%, 65%);
    }
    .signup-page-content-left h2{
        margin-bottom: 4rem;
    }
    .signup-page-content-right{
        width:100%;
        padding: 3rem;
    }
    .login-logo {
        width:30%;
    }
    .login-logo-text
    {
        width: 48%;
    }
    
    .login-logo-text{
        font-size: 3rem;
       }
       .login-page-content {
         top:10%;
       }
}
@media (max-width:800px)
{
   html{
    font-size: 42.75%; /*6.5px*/
   }
   
    
}
@media (max-width:550px) 
{
    html{
        font-size: 37.5%; /*6px*/
    }
    .instructors
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    .features
   {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .services
   {
       width:100%;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
    .service{
        width:80%;
    }
    .feature
    {
        width:80%;
    }
    .instructor{
        width: 70%;
    }
    
    .banner-paragraph {
        line-height: 1.2;
    }
    .nav-list
    {
        margin-bottom: 1.5rem;
    }
    .signup-page-content-left
    {
        display: none;
    }
    .signup-page-content-right h3{
        text-align: center;
    }
    .signup-page-content-right h4{
        text-align: center;
    }
    .login-page-content{
        top: 20%;
        left: 20%;
    }
  
   .login-form a{
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
   }
   
}

@media (max-width:400px) 
{
    html{
        font-size: 31.25%; /*5px*/
    }
    
    .service
    {
        width:70%;
    }
    .feature{
        width:70%;
    }
    
    

}
